<% include partials/header %>
 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
		var test = <%- JSON.stringify(kpiDados) %>;
		var teste=[["idKPI","Clientes Ativos", "Subscritores",  "Nº de Clientes Total", "Uptime", "Mensagens Retidas", "Bytes Enviados", "Carga Sistema - 5 min", "Carga Sistema - 15 min"]];
		
      function drawChart() {
		
				for (i = 0; i < test.length; i++) { 
				var teste2= [];
			teste2.push( parseInt(test[i].idKPI));
			teste2.push( parseInt(test[i].activeClients));
			teste2.push( parseInt(test[i].subscriptions));
			teste2.push( parseInt(test[i].totalClients));
			teste2.push( parseInt(test[i].uptime)/60);
			teste2.push( parseInt(test[i].messages));
			teste2.push( parseInt(test[i].bytesSent15));
			teste2.push( parseInt(test[i].receivedLoad5));
			teste2.push( parseInt(test[i].receivedLoad15));
			teste.push(teste2);
		}
		
		

		var data = new  google.visualization.arrayToDataTable(teste);
		


        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
		
      }
    </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


  

  <div class="card ">
	  <div id="chart_div" style="width: 100%; height: 90vh;"></div>
	</div>


      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Copyright © WFDAI 2018</small>
          </div>
        </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>

    

      <!-- Example DataTables Card-->

            <table id="example" class="display" width="100%"></table>

          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../public/admin/vendor/jquery/jquery.min.js"></script>
    <script src="../public/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../public/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../public/admin/vendor/chart.js/Chart.min.js"></script>
    <script src="../public/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../public/admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages
    <script src="../public/admin/js/sb-admin.min.js"></script>
     Custom scripts for this page
    <script src="../public/admin/js/sb-admin-datatables.min.js"></script>
    <script src="../public/admin/js/sb-admin-charts.min.js"></script>
  -->
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="public/js/jquery.canvasjs.min.js"></script>
    <script src="public/js/canvasjs.min.js"></script>
    <script src="public/js/admin.js"></script>
  </div>
  </body>

  </html>