<% include partials/header %>


  <!-- Navigation -->

  <% include partials/login %>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text" align="center">
          <div style="margin:10px; width:50%; height:20%;" class="ui-widget justify-content-center">

            <select id="combobox" class="form-control mr-sm-2 justify-content-center" type="text" form="form">
              <option value="">Select one...</option>
              <option value="Vila Velha de Ródão,Castelo Branco,Portugal">Vila Velha de Ródão,Castelo Branco,Portugal</option>
              <option value="Mação ,Santarém,Portugal">Mação ,Santarém,Portugal</option>
              <option value="Sines,Setúbal,Portugal">Sines,Setúbal,Portugal</option>
              <option value="Arcos de Valdevez,Viana do Castelo,Portugal">Arcos de Valdevez,Viana do Castelo,Portugal</option>
              <option value="Caminha,Viana do Castelo,Portugal">Caminha,Viana do Castelo,Portugal</option>
              <option value="Melgaço,Viana do Castelo,Portugal">Melgaço,Viana do Castelo,Portugal </option>
              <option value="Monção,Viana do Castelo,Portugal">Monção,Viana do Castelo,Portugal</option>
              <option value="Paredes de Coura,Viana do Castelo,Portugal">Paredes de Coura,Viana do Castelo,Portugal</option>
              <option value="Ponte da Barca,Viana do Castelo,Portugal">Ponte da Barca,Viana do Castelo,Portugal</option>
              <option value="Ponte de Lima,Viana do Castelo,Portugal">Ponte de Lima,Viana do Castelo,Portugal</option>
              <option value="Valença,Viana do Castelo,Portugal">Valença,Viana do Castelo,Portugal</option>
              <option value="Viana do Castelo,Viana do Castelo,Portugal">Viana do Castelo,Viana do Castelo,Portugal</option>
              <option value="Vila Nova de Cerveira,Viana do Castelo,Portugal">Vila Nova de Cerveira,Viana do Castelo,Portugal</option>
              <option value="Amares,Braga,Portugal">Amares,Braga,Portugal</option>
              <option value="Barcelos,Braga,Portugal">Barcelos,Braga,Portugal</option>
              <option value="Braga,Braga,Portugal">Braga,Braga,Portugal</option>
              <option value="Esposende,Braga,Portugal">Esposende,Braga,Portugal</option>
              <option value="Terras de Bouro,Braga,Portugal">Terras de Bouro,Braga,Portugal</option>
              <option value="Vila Verde,Braga,Portugal">Vila Verde,Braga,Portugal</option>
              <option value="Cabeceiras de Basto,Braga,Portugal">Cabeceiras de Basto,Braga,Portugal</option>
              <option value="Fafe,Braga,Portugal">Fafe,Braga,Portugal</option>
              <option value="Guimarães,Braga,Portugal">Guimarães,Braga,Portugal</option>
              <option value="Mondim de Basto,Vila Real,Portugal">Mondim de Basto,Vila Real,Portugal</option>
              <option value="Póvoa de Lanhoso,Braga,Portugal">Póvoa de Lanhoso,Braga,Portugal</option>
              <option value="Vieira do Minho,Braga,Portugal">Vieira do Minho,Braga,Portugal</option>
              <option value="Vila Nova de Famalicão,Braga,Portugal">Vila Nova de Famalicão,Braga,Portugal</option>
              <option value="Vizela,Braga,Portugal">Vizela,Braga,Portugal</option>
              <option value="Arouca,Aveiro,Portugal">Arouca,Aveiro,Portugal</option>
              <option value="Espinho,Aveiro,Portugal">Espinho,Aveiro,Portugal</option>
              <option value="Gondomar,Porto,Portugal">Gondomar,Porto,Portugal</option>
              <option value="Maia,Porto,Portugal">Maia,Porto,Portugal</option>
              <option value="Matosinhos,Porto,Portugal">Matosinhos,Porto,Portugal</option>
              <option value="Oliveira de Azeméis,Aveiro,Portugal">Oliveira de Azeméis,Aveiro,Portugal</option>
              <option value="Paredes,Porto,Portugal">Paredes,Porto,Portugal</option>
              <option value="Porto,Porto,Portugal">Porto,Porto,Portugal</option>
              <option value="Póvoa de Varzim,Porto,Portugal">Póvoa de Varzim,Porto,Portugal</option>
              <option value="Santa Maria da Feira,Aveiro,Portugal">Santa Maria da Feira,Aveiro,Portugal</option>
              <option value="Santo Tirso,Porto,Portugal">Santo Tirso,Porto,Portugal</option>
              <option value="São João da Madeira,Aveiro,Portugal">São João da Madeira,Aveiro,Portugal</option>
              <option value="Trofa,Porto,Portugal">Trofa,Porto,Portugal</option>
              <option value="Vale de Cambra,Aveiro,Portugal">Vale de Cambra,Aveiro,Portugal</option>
              <option value="Valongo,Porto,Portugal">Valongo,Porto,Portugal</option>
              <option value="Vila do Conde,Porto,Portugal">Vila do Conde,Porto,Portugal</option>
              <option value="Vila Nova de Gaia,Porto,Portugal">Vila Nova de Gaia,Porto,Portugal</option>
              <option value="Amarante,Porto,Portugal">Amarante,Porto,Portugal</option>
              <option value="Baião,Porto,Portugal">Baião,Porto,Portugal</option>
              <option value="Castelo de Paiva,Aveiro,Portugal">Castelo de Paiva,Aveiro,Portugal</option>
              <option value="Celorico de Basto,Braga,Portugal">Celorico de Basto,Braga,Portugal</option>
              <option value="Cinfães,Viseu,Portugal">Cinfães,Viseu,Portugal</option>
              <option value="Felgueiras,Porto,Portugal">Felgueiras,Porto,Portugal</option>
              <option value="Lousada,Porto,Portugal">Lousada,Porto,Portugal</option>
              <option value="Marco de Canaveses,Porto,Portugal">Marco de Canaveses,Porto,Portugal</option>
              <option value="Paços de Ferreira,Porto,Portugal">Paços de Ferreira,Porto,Portugal</option>
              <option value="Penafiel,Porto,Portugal">Penafiel,Porto,Portugal</option>
              <option value="Resende,Viseu,Portugal">Resende,Viseu,Portugal</option>
              <option value="Boticas,Vila Real,Portugal">Boticas,Vila Real,Portugal</option>
              <option value="Chaves,Vila Real,Portugal">Chaves,Vila Real,Portugal</option>
              <option value="Montalegre,Vila Real,Portugal">Montalegre,Vila Real,Portugal</option>
              <option value="Ribeira de Pena,Vila Real,Portugal">Ribeira de Pena,Vila Real,Portugal</option>
              <option value="Valpaços,Vila Real,Portugal">Valpaços,Vila Real,Portuga</option>
              <option value="Vila Pouca de Aguiar,Vila Real,Portugal">Vila Pouca de Aguiar,Vila Real,Portugal</option>
              <option value="Alijó,Vila Real,Portugal">Alijó,Vila Real,Portugal</option>
              <option value="Armamar,Viseu,Portugal"> Armamar,Viseu,Portugal</option>
              <option value="Carrazeda de Ansiães,Bragança,Portugal">Carrazeda de Ansiães,Bragança,Portugal</option>
              <option value="Freixo de Espada à Cinta,Bragança,Portugal">Freixo de Espada à Cinta,Bragança,Portugal</option>
              <option value="Lamego,Viseu,Portugal">Lamego,Viseu,Portugal</option>
              <option value="Mesão Frio,Vila Real,Portugal">Mesão Frio,Vila Real,Portugal</option>
              <option value="Moimenta da Beira,Viseu,Portugal">Moimenta da Beira,Viseu,Portugal</option>
              <option value="Murça,Vila Real,Portugal">Murça,Vila Real,Portugal</option>
              <option value="Penedono,Viseu,Portugal">Penedono,Viseu,Portugal</option>
              <option value="Peso da Régua,Vila Real,Portugal">Peso da Régua,Vila Real,Portugal</option>
              <option value="Sabrosa,Vila Real,Portugal">Sabrosa,Vila Real,Portugal</option>
              <option value="Santa Marta de Penaguião,Vila Real,Portugal">Santa Marta de Penaguião,Vila Real,Portugal</option>
              <option value="São João da Pesqueira,Viseu,Portugal">São João da Pesqueira,Viseu,Portugal</option>
              <option value="Sernancelhe,Viseu,Portugal">Sernancelhe,Viseu,Portugal</option>
              <option value="Tabuaço,Viseu,Portugal">Tabuaço,Viseu,Portugal</option>
              <option value="Tarouca,Viseu,Portugal">Tarouca,Viseu,Portugal</option>
              <option value="Torre de Moncorvo,Bragança,Portugal">Torre de Moncorvo,Bragança,Portugal</option>
              <option value="Vila Nova de Foz Côa,Guarda,Portugal">Vila Nova de Foz Côa,Guarda,Portugal</option>
              <option value="Vila Real,Vila Real,Portugal">Vila Real,Vila Real,Portugal</option>
              <option value="Alfândega da Fé,Bragança,Portugal">Alfândega da Fé,Bragança,Portugal</option>
              <option value="Bragança,Bragança,Portugal">Bragança,Bragança,Portugal</option>
              <option value="Macedo de Cavaleiros,Bragança,Portugal">Macedo de Cavaleiros,Bragança,Portugal</option>
              <option value="Miranda do Douro,Bragança,Portugal">Miranda do Douro,Bragança,Portugal</option>
              <option value="Mirandela,Bragança,Portugal">Mirandela,Bragança,Portugal</option>
              <option value="Mogadouro,Bragança,Portugal">Mogadouro,Bragança,Portugal</option>
              <option value="Vila Flor,Bragança,Portugal">Vila Flor,Bragança,Portugal</option>
              <option value="Vimioso,Bragança,Portugal">Vimioso,Bragança,Portugal</option>
              <option value="Vinhais,Bragança,Portugal">Vinhais,Bragança,Portugal</option>
              <option value="Águeda,Aveiro,Portugal">Águeda,Aveiro,Portugal</option>
              <option value="Albergaria-a-Velha,Aveiro,Portugal">Albergaria-a-Velha,Aveiro,Portugal</option>
              <option value="Anadia,Aveiro,Portugal">Anadia,Aveiro,Portugal</option>
              <option value="Aveiro,Aveiro,Portugal">Aveiro,Aveiro,Portugal</option>
              <option value="Estarreja,Aveiro,Portugal">Estarreja,Aveiro,Portugal</option>
              <option value="Ílhavo,Aveiro,Portugal">Ílhavo,Aveiro,Portugal</option>
              <option value="Murtosa,Aveiro,Portugal">Murtosa,Aveiro,Portugal</option>
              <option value="Oliveira do Bairro,Aveiro,Portugal">Oliveira do Bairro,Aveiro,Portugal</option>
              <option value="Ovar,Aveiro,Portugal">Ovar,Aveiro,Portugal</option>
              <option value="Sever do Vouga,Aveiro,Portugal">Sever do Vouga,Aveiro,Portugal</option>
              <option value="Vagos,Aveiro,Portugal">Vagos,Aveiro,Portugal</option>
              <option value="Arganil,Coimbra,Portugal">Arganil,Coimbra,Portugal</option>
              <option value="Cantanhede,Coimbra,Portugal">Cantanhede,Coimbra,Portugal</option>
              <option value="Coimbra,Coimbra,Portugal">Coimbra,Coimbra,Portugal</option>
              <option value="Condeixa-a-Nova,Coimbra,Portugal">Condeixa-a-Nova,Coimbra,Portugal</option>
              <option value="Figueira da Foz,Coimbra,Portugal">Figueira da Foz,Coimbra,Portugal</option>
              <option value="Góis,Coimbra,Portugal">Góis,Coimbra,Portugal</option>
              <option value="Lousã,Coimbra,Portugal">Lousã,Coimbra,Portugal</option>
              <option value="Mealhada,Aveiro,Portugal">Mealhada,Aveiro,Portugal</option>
              <option value="Mira,Coimbra,Portugal">Mira,Coimbra,Portugal</option>
              <option value="Miranda do Corvo,Coimbra,Portugal">Miranda do Corvo,Coimbra,Portugal</option>
              <option value="Montemor-o-Velho,Coimbra,Portugal">Montemor-o-Velho,Coimbra,Portugal</option>
              <option value="Mortágua,Viseu,Portugal">Mortágua,Viseu,Portugal</option>
              <option value="Oliveira do Hospital,Coimbra,Portugal">Oliveira do Hospital,Coimbra,Portugal</option>
              <option value="Pampilhosa da Serra,Coimbra,Portugal">Pampilhosa da Serra,Coimbra,Portugal</option>
              <option value="Penacova,Coimbra,Portugal">Penacova,Coimbra,Portugal</option>
              <option value="Penela,Coimbra,Portugal">Penela,Coimbra,Portugal</option>
              <option value="Soure,Coimbra,Portugal">Soure,Coimbra,Portugal</option>
              <option value="Tábua,Coimbra,Portugal">Tábua,Coimbra,Portugal</option>
              <option value="Vila Nova de Poiares,Coimbra,Portugal">Vila Nova de Poiares,Coimbra,Portugal</option>
              <option value="Batalha,Leiria,Portugal">Batalha,Leiria,Portugal</option>
              <option value="Leiria,Leiria,Portugal">Leiria,Leiria,Portugal</option>
              <option value="Marinha Grande,Leiria,Portugal">Marinha Grande,Leiria,Portugal</option>
              <option value="Pombal,Leiria,Portugal">Pombal,Leiria,Portugal</option>
              <option value="Porto de Mós,Leiria,Portugal">Porto de Mós,Leiria,Portugal</option>
              <option value="Alvaiázere,Leiria,Portugal">Alvaiázere,Leiria,Portugal</option>
              <option value="Ansião,Leiria,Portugal">Ansião,Leiria,Portugal</option>
              <option value="Castanheira de Pera,Leiria,Portugal">Castanheira de Pera,Leiria,Portugal</option>
              <option value="Figueiró dos Vinhos,Leiria,Portugal">Figueiró dos Vinhos,Leiria,Portugal</option>
              <option value="Pedrógão Grande,Leiria,Portugal">Pedrógão Grande,Leiria,Portugal</option>
              <option value="Aguiar da Beira,Guarda,Portugal">Aguiar da Beira,Guarda,Portugal</option>
              <option value="Carregal do Sal,Viseu,Portugal">Carregal do Sal,Viseu,Portugal</option>
              <option value="Castro Daire,Viseu,Portugal">Castro Daire,Viseu,Portugal</option>
              <option value="Mangualde,Viseu,Portugal">Mangualde,Viseu,Portugal</option>
              <option value="Nelas,Viseu,Portugal">Nelas,Viseu,Portugal</option>
              <option value="Oliveira de Frades,Viseu,Portugal">Oliveira de Frades,Viseu,Portugal</option>
              <option value="Penalva do Castelo,Viseu,Portugal">Penalva do Castelo,Viseu,Portugal</option>
              <option value="Santa Comba Dão,Viseu,Portugal">Santa Comba Dão,Viseu,Portugal</option>
              <option value="São Pedro do Sul,Viseu,Portugal">São Pedro do Sul,Viseu,Portugal</option>
              <option value="Sátão,Viseu,Portugal">Sátão,Viseu,Portugal</option>
              <option value="Tondela,Viseu,Portugal">Tondela,Viseu,Portugal</option>
              <option value="Vila Nova de Paiva,Viseu,Portugal">Vila Nova de Paiva,Viseu,Portugal</option>
              <option value="Viseu,Viseu,Portugal">Viseu,Viseu,Portugal</option>
              <option value="Vouzela,Viseu,Portugal">Vouzela,Viseu,Portugal</option>
              <option value="Almeida,Guarda,Portugal">Almeida,Guarda,Portugal</option>
              <option value="Belmonte,Castelo Branco,Portugal">Belmonte,Castelo Branco,Portugal</option>
              <option value="Celorico da Beira,Guarda,Portugal">Celorico da Beira,Guarda,Portugal</option>
              <option value="Covilhã,Castelo Branco,Portugal">Covilhã,Castelo Branco,Portugal</option>
              <option value="Figueira de Castelo Rodrigo,Guarda,Portugal">Figueira de Castelo Rodrigo,Guarda,Portugal</option>
              <option value="Fornos de Algodres,Guarda,Portugal">Fornos de Algodres,Guarda,Portugal</option>
              <option value="Fundão,Castelo Branco,Portugal">Fundão,Castelo Branco,Portugal</option>
              <option value="Gouveia,Guarda,Portugal">Gouveia,Guarda,Portugal</option>
              <option value="Guarda,Guarda,Portugal">Guarda,Guarda,Portugal</option>
              <option value="Manteigas,Guarda,Portugal">Manteigas,Guarda,Portugal </option>
              <option value="Mêda,Guarda,Portugal">Mêda,Guarda,Portugal</option>
              <option value="Pinhel,Guarda,Portugal">Pinhel,Guarda,Portugal</option>
              <option value="Sabugal,Guarda,Portugal">Sabugal,Guarda,Portugal</option>
              <option value="Seia,Guarda,Portugal">Seia,Guarda,Portugal</option>
              <option value="Trancoso,Guarda,Portugal">Trancoso,Guarda,Portugal</option>
              <option value="Castelo Branco,Castelo Branco,Portugal">Castelo Branco,Castelo Branco,Portugal</option>
              <option value="Idanha-a-Nova,Castelo Branco,Portugal">Idanha-a-Nova,Castelo Branco,Portugal</option>
              <option value="Oleiros,Castelo Branco,Portugal">Oleiros,Castelo Branco,Portugal</option>
              <option value="Penamacor,Castelo Branco,Portugal">Penamacor,Castelo Branco,Portugal</option>
              <option value="Proença-a-Nova,Castelo Branco,Portugal">Proença-a-Nova,Castelo Branco,Portugal</option>
              <option value="Alcobaça,Leiria,Portugal">Alcobaça,Leiria,Portugal</option>
              <option value="Alenquer,Lisboa,Portugal">Alenquer,Lisboa,Portugal</option>
              <option value="Arruda dos Vinhos,Lisboa,Portugal">Arruda dos Vinhos,Lisboa,Portugal</option>
              <option value="Bombarral,Leiria,Portugal">Bombarral,Leiria,Portugal</option>
              <option value="Cadaval,Lisboa,Portugal">Cadaval,Lisboa,Portugal</option>
              <option value="Caldas da Rainha,Leiria,Portugal">Caldas da Rainha,Leiria,Portugal</option>
              <option value="Lourinhã,Lisboa,Portugal">Lourinhã,Lisboa,Portugal</option>
              <option value="Nazaré,Leiria,Portugal">Nazaré,Leiria,Portugal</option>
              <option value="Óbidos,Leiria,Portugal">Óbidos,Leiria,Portugal</option>
              <option value="Peniche,Leiria,Portugal">Peniche,Leiria,Portugal</option>
              <option value="Sobral de Monte Agraço,Lisboa,Portugal">Sobral de Monte Agraço,Lisboa,Portugal</option>
              <option value="Torres Vedras,Lisboa,Portugal">Torres Vedras,Lisboa,Portugal</option>
              <option value="Abrantes,Santarém,Portugal">Abrantes,Santarém,Portugal</option>
              <option value="Alcanena,Santarém,Portugal">Alcanena,Santarém,Portugal</option>
              <option value="Constância,Santarém,Portugal">Constância,Santarém,Portugal</option>
              <option value="Entroncamento,Santarém,Portugal">Entroncamento,Santarém,Portugal</option>
              <option value="Ferreira do Zêzere,Santarém,Portugal">Ferreira do Zêzere,Santarém,Portugal</option>
              <option value="Ourém,Santarém,Portugal">Ourém,Santarém,Portugal</option>
              <option value="Sardoal,Santarém,Portugal">Sardoal,Santarém,Portugal</option>
              <option value="Sertã,Castelo Branco,Portugal">Sertã,Castelo Branco,Portugal</option>
              <option value="Tomar,Santarém,Portugal">Tomar,Santarém,Portugal</option>
              <option value="Torres Novas,Santarém,Portugal">Torres Novas,Santarém,Portugal</option>
              <option value="Vila de Rei,Castelo Branco,Portugal">Vila de Rei,Castelo Branco,Portugal</option>
              <option value="Vila Nova da Barquinha,Santarém,Portugal">Vila Nova da Barquinha,Santarém,Portugal</option>
              <option value="Alcochete,Setúbal,Portugal">Alcochete,Setúbal,Portugal</option>
              <option value="Almada,Setúbal,Portugal">Almada,Setúbal,Portugal</option>
              <option value="Amadora,Lisboa,Portugal">Amadora,Lisboa,Portugal</option>
              <option value="Barreiro,Setúbal,Portugal">Barreiro,Setúbal,Portugal</option>
              <option value="Cascais,Lisboa,Portugal">Cascais,Lisboa,Portugal</option>
              <option value="Lisboa,Lisboa,Portugal">Lisboa,Lisboa,Portugal</option>
              <option value="Loures,Lisboa,Portugal">Loures,Lisboa,Portugal</option>
              <option value="Mafra,Lisboa,Portugal">Mafra,Lisboa,Portugal</option>
              <option value="Moita,Setúbal,Portugal">Moita,Setúbal,Portugal</option>
              <option value="Montijo,Setúbal,Portugal">Montijo,Setúbal,Portugal</option>
              <option value="Odivelas,Lisboa,Portugal">Odivelas,Lisboa,Portugal</option>
              <option value="Oeiras,Lisboa,Portugal">Oeiras,Lisboa,Portugal</option>
              <option value="Palmela,Setúbal,Portugal">Palmela,Setúbal,Portugal</option>
              <option value="Seixal,Setúbal,Portugal">Seixal,Setúbal,Portugal</option>
              <option value="Sesimbra,Setúbal,Portugal">Sesimbra,Setúbal,Portugal</option>
              <option value="Setúbal,Setúbal,Portugal">Setúbal,Setúbal,Portugal</option>
              <option value="Sintra,Lisboa,Portugal">Sintra,Lisboa,Portugal</option>
              <option value="Vila Franca de Xira,Lisboa,Portugal">Vila Franca de Xira,Lisboa,Portugal</option>
              <option value="Almeirim,Santarém,Portugal">Almeirim,Santarém,Portugal</option>
              <option value="Alpiarça,Santarém,Portugal">Alpiarça,Santarém,Portugal</option>
              <option value="Azambuja,Lisboa,Portugal">Azambuja,Lisboa,Portugal</option>
              <option value="Benavente,Santarém,Portugal">Benavente,Santarém,Portugal</option>
              <option value="Cartaxo,Santarém,Portugal">Cartaxo,Santarém,Portugal</option>
              <option value="Chamusca,Santarém,Portugal">Chamusca,Santarém,Portugal</option>
              <option value="Coruche,Santarém,Portugal">Coruche,Santarém,Portugal</option>
              <option value="Golegã,Santarém,Portugal">Golegã,Santarém,Portugal</option>
              <option value="Rio Maior,Santarém,Portugal">Rio Maior,Santarém,Portugal</option>
              <option value="Salvaterra de Magos,Santarém,Portugal">Salvaterra de Magos,Santarém,Portugal</option>
              <option value="Santarém,Santarém,Portugal">Santarém,Santarém,Portugal</option>
              <option value="Alcácer do Sal,Setúbal,Portugal">Alcácer do Sal,Setúbal,Portugal</option>
              <option value="Grândola,Setúbal,Portugal">Grândola,Setúbal,Portugal</option>
              <option value="Odemira,Beja,Portugal"> Odemira,Beja,Portugal</option>
              <option value="Santiago do Cacém,Setúbal,Portugal">Santiago do Cacém,Setúbal,Portugal</option>
              <option value="Alter do Chão,Portalegre,Portugal">Alter do Chão,Portalegre,Portugal</option>
              <option value="Arronches,Portalegre,Portugal">Arronches,Portalegre,Portugal</option>
              <option value="Avis,Portalegre,Portugal">Avis,Portalegre,Portugal</option>
              <option value="Campo Maior,Portalegre,Portugal">Campo Maior,Portalegre,Portugal</option>
              <option value="Castelo de Vide,Portalegre,Portugal">Castelo de Vide,Portalegre,Portugal</option>
              <option value="Crato,Portalegre,Portugal">Crato,Portalegre,Portugal</option>
              <option value="Elvas,Portalegre,Portugal">Elvas,Portalegre,Portugal</option>
              <option value="Fronteira,Portalegre,Portugal">Fronteira,Portalegre,Portugal</option>
              <option value="Gavião,Portalegre,Portugal">Gavião,Portalegre,Portugal</option>
              <option value="Marvão,Portalegre,Portugal">Marvão,Portalegre,Portugal</option>
              <option value="Monforte,Portalegre,Portugal">Monforte,Portalegre,Portugal</option>
              <option value="Nisa,Portalegre,Portugal">Nisa,Portalegre,Portugal</option>
              <option value="Ponte de Sor,Portalegre,Portugal">Ponte de Sor,Portalegre,Portugal</option>
              <option value="Portalegre,Portalegre,Portugal">Portalegre,Portalegre,Portugal</option>
              <option value="Sousel,Portalegre,Portugal">Sousel,Portalegre,Portugal</option>
              <option value="Alandroal,Évora,Portugal">Alandroal,Évora,Portugal</option>
              <option value="Arraiolos,Évora,Portugal">Arraiolos,Évora,Portugal</option>
              <option value="Borba,Évora,Portugal">Borba,Évora,Portugal</option>
              <option value="Estremoz,Évora,Portugal">Estremoz,Évora,Portugal</option>
              <option value="Évora,Évora,Portugal">Évora,Évora,Portugal</option>
              <option value="Montemor-o-Novo,Évora,Portugal">Montemor-o-Novo,Évora,Portugal</option>
              <option value="Mora,Évora,Portugal">Mora,Évora,Portugal</option>
              <option value="Mourão,Évora,Portugal">Mourão,Évora,Portugal</option>
              <option value="Portel,Évora,Portugal">Portel,Évora,Portugal</option>
              <option value="Redondo,Évora,Portugal">Redondo,Évora,Portugal</option>
              <option value="Reguengos de Monsaraz,Évora,Portugal">Reguengos de Monsaraz,Évora,Portugal</option>
              <option value="Vendas Novas,Évora,Portugal">Vendas Novas,Évora,Portugal</option>
              <option value="Viana do Alentejo,Évora,Portugal">Viana do Alentejo,Évora,Portugal</option>
              <option value="Vila Viçosa,Évora,Portugal">Vila Viçosa,Évora,Portugal</option>
              <option value="Aljustrel,Beja,Portugal">Aljustrel,Beja,Portugal</option>
              <option value="Almodôvar,Beja,Portugal">Almodôvar,Beja,Portugal</option>
              <option value="Alvito,Beja,Portugal">Alvito,Beja,Portugal</option>
              <option value="Barrancos,Beja,Portugal">Barrancos,Beja,Portugal</option>
              <option value="Beja,Beja,Portugal">Beja,Beja,Portugal</option>
              <option value="Castro Verde,Beja,Portugal">Castro Verde,Beja,Portugal </option>
              <option value="Cuba,Beja,Portugal">Cuba,Beja,Portugal</option>
              <option value="Ferreira do Alentejo,Beja,Portugal">Ferreira do Alentejo,Beja,Portugal</option>
              <option value="Mértola,Beja,Portugal">Mértola,Beja,Portugal</option>
              <option value="Moura,Beja,Portugal">Moura,Beja,Portugal</option>
              <option value="Ourique,Beja,Portugal">Ourique,Beja,Portugal</option>
              <option value="Serpa,Beja,Portugal">Serpa,Beja,Portugal</option>
              <option value="Vidigueira,Beja,Portugal">Vidigueira,Beja,Portugal</option>
              <option value="Albufeira,Faro,Portugal">Albufeira,Faro,Portugal</option>
              <option value="Alcoutim,Faro,Portugal">Alcoutim,Faro,Portugal</option>
              <option value="Aljezur,Faro,Portugal">Aljezur,Faro,Portugal</option>
              <option value="Castro Marim,Faro,Portugal">Castro Marim,Faro,Portugal</option>
              <option value="Faro,Faro,Portugal">Faro,Faro,Portugal</option>
              <option value="Lagoa,Faro,Portugal">Lagoa,Faro,Portugal</option>
              <option value="Lagos,Faro,Portugal">Lagos,Faro,Portugal</option>
              <option value="Loulé,Faro,Portugal">Loulé,Faro,Portugal</option>
              <option value="Monchique,Faro,Portugal">Monchique,Faro,Portugal</option>
              <option value="Olhão,Faro,Portugal">Olhão,Faro,Portugal</option>
              <option value="Portimão,Faro,Portugal">Portimão,Faro,Portugal</option>
              <option value="São Brás de Alportel,Faro,Portugal">São Brás de Alportel,Faro,Portugal</option>
              <option value="Silves,Faro,Portugal">Silves,Faro,Portugal</option>
              <option value="Tavira,Faro,Portugal">Tavira,Faro,Portugal</option>
              <option value="Vila do Bispo,Faro,Portugal">Vila do Bispo,Faro,Portugal</option>
              <option value="Vila Real de Santo António,Faro,Portugal">Vila Real de Santo António,Faro,Portugal</option>
              <option value="Angra do Heroísmo,Terceira,Portugal">Angra do Heroísmo,Terceira,Portugal</option>
              <option value="Calheta,São Jorge,Portugal">Calheta,São Jorge,Portugal</option>
              <option value="Corvo,Corvo,Portugal">Corvo,Corvo,Portugal</option>
              <option value="Horta,Faial,Portugal">Horta,Faial,Portugal</option>
              <option value="Lagoa,São Miguel,Portugal">Lagoa,São Miguel,Portugal</option>
              <option value="Lajes das Flores,Flores,Portugal">Lajes das Flores,Flores,Portugal</option>
              <option value="Lajes do Pico,Pico,Portugal">Lajes do Pico,Pico,Portugal</option>
              <option value="Madalena,Pico,Portugal">Madalena,Pico,Portugal</option>
              <option value="Nordeste,São Miguel,Portugal">Nordeste,São Miguel,Portugal</option>
              <option value="Ponta Delgada,São Miguel,Portugal">Ponta Delgada,São Miguel,Portugal</option>
              <option value="Povoação,São Miguel,Portugal">Povoação,São Miguel,Portugal</option>
              <option value="Praia da Vitória,Terceira,Portugal">Praia da Vitória,Terceira,Portugal</option>
              <option value="Ribeira Grande,São Miguel,Portugal">Ribeira Grande,São Miguel,Portugal</option>
              <option value="Santa Cruz da Graciosa,Graciosa,Portugal">Santa Cruz da Graciosa,Graciosa,Portugal</option>
              <option value="Santa Cruz das Flores,Flores,Portugal">Santa Cruz das Flores,Flores,Portugal</option>
              <option value="São Roque do Pico,Pico,Portugal">São Roque do Pico,Pico,Portugal</option>
              <option value="Velas,São Jorge,Portugal">Velas,São Jorge,Portugal</option>
              <option value="Vila do Porto,Santa Maria,Portugal">Vila do Porto,Santa Maria,Portugal</option>
              <option value="Vila Franca do Campo,São Miguel,Portugal">Vila Franca do Campo,São Miguel,Portugal</option>
              <option value="Calheta,Madeira,Portugal">Calheta,Madeira,Portugal</option>
              <option value="Câmara de Lobos,Madeira,Portugal">Câmara de Lobos,Madeira,Portugal</option>
              <option value="Funchal,Madeira,Portugal">Funchal,Madeira,Portugal</option>
              <option value="Machico,Madeira,Portugal">Machico,Madeira,Portugal</option>
              <option value="Ponta do Sol,Madeira,Portugal">Ponta do Sol,Madeira,Portugal</option>
              <option value="Porto Moniz,Madeira,Portugal">Porto Moniz,Madeira,Portugal</option>
              <option value="Porto Santo,Porto Santo,Portugal">Porto Santo,Porto Santo,Portugal</option>
              <option value="Ribeira Brava,Madeira,Portugal">Ribeira Brava,Madeira,Portugal</option>
              <option value="Santa Cruz,Madeira,Portugal">Santa Cruz,Madeira,Portugal</option>
              <option value="Santana,Madeira,Portugal">Santana,Madeira,Portugal</option>
              <option value="São Vicente,Madeira,Portugal">São Vicente,Madeira,Portugal</option>
            </select>
            <div id="searchbtn" style="margin:10px;" onclick="search(); showDiv()" class="btn btn-outline-success justify-content-center">Ver condições atuais</div>
          </div>
          </form>

              <div class="card" id="weathercard" style="display:none" >
                <span class="city">Meteorologia</span>
                  <br>
                <div class="sun"></div>
                <span class="temp" id="Temperatura"> &#176;</span>
                
                <div class="forecast clear">
                  <div class="day tue"> 
                    <i class="fas fa-tachometer-alt" id="Pressao"></i> hPa <br>
                    <i class="fas fa-tint" id="Humidade"></i> % <br>
                  </div>
                  <div class="day wed">
                      <i class="far fa-compass" id="DirecaoVento"></i> <br>
                    <i class="fas fa-eye" id="Visibilidade"></i> Km <br>
                  </div>
                  <div class="day thu">
                    <i class="far fa-sun" id="NascerSol"></i> <br>
                    <i class="fas fa-sun" id="PorSol"></i>
                  </div>
                  <div class="day fri">
                    <i class="far fa-clock" id="ts"> </i>
                  </div>
                </div>
              </div>
          <div class="card" style="width: 18rem; display:none; font-size:26px;" align=center >
              <div class="card-body">
                <h5 class="card-title" style="color:black;">Meteorologia</h5>
                <div class="card-text" style="color:black;">
                    <i class="far fa-compass" id="DirecaoVento"></i> <br>
                    <i class="fas fa-angle-double-right" id="VelocidadeVento"></i> Kmh <br>
                    <i class="fas fa-thermometer-half" id="Temperatura"></i> ºC <br>
                    <i class="fas fa-tachometer-alt" id="Pressao"></i> hPa <br>
                    <i class="fas fa-tint" id="Humidade"></i> % <br>
                    <i class="fas fa-eye" id="Visibilidade"></i> Km <br>
                    <i class="far fa-sun" id="NascerSol"></i> <br>
                    <i class="fas fa-sun" id="PorSol"></i>
                    <i class="far fa-clock" id="ts"> </i>
                </div>
            
              </div>
            </div>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
              magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
              magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
              magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Threads</h4>
              <p class="text-muted">Illustration</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Explore</h4>
              <p class="text-muted">Graphic Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Finish</h4>
              <p class="text-muted">Identity</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Lines</h4>
              <p class="text-muted">Branding</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Southwest</h4>
              <p class="text-muted">Website Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Window</h4>
              <p class="text-muted">Photography</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                      temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>March 2011</h4>
                    <h4 class="subheading">An Agency is Born</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                      temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>December 2012</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                      temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                      temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Marketer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
              <h4>Diana Pertersen</h4>
              <p class="text-muted">Lead Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis,
              totam corporis ea, alias ut unde.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Explore</li>
                    <li>Category: Graphic Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Finish</li>
                    <li>Category: Identity</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Lines</li>
                    <li>Category: Branding</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Southwest</li>
                    <li>Category: Website Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>


      <form class="form-inline justify-content-center " id="form">

        <script>
          $(document).ready(function () {
            $('input').addClass(' form-control input-lg text-center text-xs-center');
            $('li').addClass(' list-group');
            //$('input').clear();

          })
        </script>



        <% include partials/footer %>