<% include partials/headerforms %>

	<h2>Login</h2>
	
<% if (errors.length) { %>  
	<div class="alert alert-danger">
		<ul>
		<% for (var e of errors) { %>
			<li><%= e.msg %></li>
		<% }%>
		</ul>
	</div>	
<% } %>

	<form action="/login" method="post">
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="text" class="form-control" id="email-modal" placeholder="Insira o seu Email" name="email" >
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" placeholder="Insira a Password" name="password" >
		</div>    
		<button type="submit" class="btn btn-default">Login</button>
                <button type="button" href="/registar" class="btn btn-default">Registar</button>
	</form>      

<% include partials/footerforms %>