<div class="modal fade" id="utilizador-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

        

            <!-- Begin # DIV Form -->
            <div id="div-forms">


                <!-- Begin | Register Form -->
                <form id="register-patron" method="post" enctype="multipart/form-data">

                    <div class="modal-body">

                        <div id="div-register-msg">
                            <center>
                                <span id="text-register-msg">Criar Utilizador</span>
                            </center>
                        </div>
                        <input id="register_name_normal" class="form-control" type="text" placeholder="Nome completo" name="name" pattern="[a-zA-ZÀ-ž\s]+" title="Apenas letras" required>
                        <input id="register_email" class="form-control" type="email" placeholder="E-Mail" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Insira um email válido" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve conter pelo menos um numero, uma letra maiuscula e uma minuscula e pelo menos 8 caracteres" required>
                        <input id="register_nif" class="form-control" type="number" placeholder="NIF" name="nif" required>
                        <input id="register_name_normal" class="form-control" type="text" placeholder="Nome completo" name="name" pattern="[a-zA-ZÀ-ž\s]+" title="Apenas letras" required>
                        <input id="register_phonenumber" class="form-control" type="number" placeholder="Numero telemóvel" name="numero" required>
                        <input id="register_morada" class="form-control" type="text" placeholder="Morada" name="morada" required>
                        </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Registar</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->
               
            </div>
            <!-- End # DIV Form -->
		</div>
	</div>
</div>